services:
  backend:
    build: .
    container_name: testtask_backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db
      
  db:
    image: postgres:18
    container_name: task
    restart: always
    environment: 
      POSTGRES_PASSWORD: ${DB_PASSWORD} 
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    volumes: 
      - db-data:/var/lib/postgresql/data
    ports: 
      - "5434:5432"
volumes:
  db-data:
